@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Kite+One&family=Padauk:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-loading-progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}
@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.active {
  @apply font-bold text-primary-500 !important
}
